<div>
	<div ng-click="buttonClick()" class="cssSlideUp1">
		Menu
	</div>
	<div ng-hide="menuHide" class="cssSlideUp">
		<div id="box">
		  <div id="items">
		    <div class="item">Item 1</div>
		    <div class="item">Item 2</div>
		    <div class="item">Item 3</div>
		    <div class="item">Item 4</div>
		    <div class="item">Item 5</div>
		  </div>
		</div>
	</div>
<div id="header"><h1>Best Dating</h1></div>
	<div id="main">
		<div class="row">
			<label>Gender</label>

			<select id="gender">

				<option value="A">All</option>
				<option value="F">Female</option>
				<option value="M">Male</option>
				
			</select>
	</div>
		<div class="row">
				<label>Hobbies</label>
				<input type="text" id="hobby"/>
			</div>
			<div class="row">
			<button id="search">Search</button>
		</div>
		
	<div ng-repeat="user in users" class="person-row">
		<div class="person-info">
		<img class="image" src="{{user.avatar}}"/>
		<div>{{user.name}}</div>
		<div>{{user.hobby}}</div>
		</div>
		<button>Add as friend</button>
	</div>
	<search-input></search-input>
</div>
